<html>
    <head>
<title>sdsd</title>
       
    </head>

<body>
    <div>
    {{>header}}
    <h1>This is index page.</h1>

    <form>
        <input placeholder="Location">
        <button >Search</button>
    </form>

    <p id ="p1">Vaibhav</p>
    <p id ="p2">Vaibhav</p>

</div> 
<script src="/js/app.js"></script>
</body>

</html>



